@media screen and (max-width: 690px) {
    .container, body { 
        display: grid;
        grid-template-columns: 100%;
        justify-content: center;
        grid-column-gap: 0%;
    }
    
    img {
            max-width: 85%;
        }
    
    .picture1 {
        padding-left: 0%;
        padding-right: 0%;
        padding-bottom: 10%;
        text-align: center;
        justify-content: center;
    }
    

    .picture2 {
        padding-right: 0%;
        padding-left: 0%;
        padding-bottom: 10%;
        text-align: center;
        justify-content: center;
    }
            

    .links {
        display: grid;
        grid-template-columns: 100%;
        width: 100%;
        padding-left: 40%;
        
    }
    
    .links a {
        padding-left: 0%;
        text-align: center;
        justify-content: center;
        margin-bottom: .5357rem;
    }
    
    #zen-title {
        padding-bottom: 1.0714rem;
        padding-top: .5357rem;
    }
    
    .picture1 p, .picture2 p {
        text-align: center;
    }
    
    footer {
        grid-column-start: 1;
        grid-column-end: 2;
    }
    
    h1 {
        grid-column-start: 1;
        grid-column-end: 3;
        text-align: center;
    }
    
    .pos {
        padding-left: 7%;
        padding-bottom: 7%;
    }
    
    .outpage {
        max-width: 80%;
        padding-left: 17%;
    }
    }
    
    
@media screen and (min-width: 691px) {
    .links {
            display: grid;
            grid-template-columns: 20% 20% 20% 20% 20%;
        }
}

*/