a {
    text-align: center;
    text-decoration: none;
    justify-content: center;
    color: black;
    width: 20%;
    display: inline-block;
    font-size: 12pt;

}

.sale {
    font-family: 'Prompt', sans-serif;
    font-size: 12pt;
    color: white;
    background: #8096A2;
    width: 100%;
    text-align: center;
}

nav {
  

}

.links {
    width: 80%;
    position: center;
    padding-left: 15%;
    padding-bottom: 5%;
  
}



#zen-title {
    text-align: center;
    padding-bottom: 60px;
    padding-top: 30px;
}


body {
    font-family: 'Prompt', sans-serif;
}

img {
    max-width: 100%;
}

.container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-column-gap: 5%;
}


.picture1 {
    padding-left: 20%;
    padding-bottom: 10%;
}

.picture2 {
    padding-right: 20%;
    padding-bottom: 10%;

}

footer {
    background-color: black;
    width: 100%;
    color: white;
}

p {
    text-align: center;
}

.icons {
    float: right;
    padding-right: 10px;
}

h1 {
    text-align: center;
    width: 100%;
    padding-bottom: 25px;
    grid-column-start: 1;
    grid-column-end: 3;
}

.head {
    text-align: center;
    width: 100%;
    padding-bottom: 25px;
    grid-column-start: 1;
    grid-column-end: 3;
    display: block;
    font-size: 2em;
    font-weight: bold;
}

.clear {
    width: 100%;
}

.paddingbottom {
    padding-bottom: 10px;
}

.addtocart {
    width: 300px;
    padding: 10px;
    border-bottom: 2px;
}
